* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 20px;
}
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b1220;
}

.auth-form {
  width: 350px;
  background: #111827;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form h1 {
  text-align: center;
  color: #00ffcc;
}

.auth-form input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.auth-form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #00ffcc;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.auth-form p {
  text-align: center;
}