.auth-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:
  linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
  url("../assets/energy-bg.jpg");
  background-size:cover;
  background-position:center;
}

.auth-card{
  width:400px;
  background:#121212;
  border:2px solid #ffd000;
  padding:40px;
  border-radius:20px;
  box-shadow:0 0 30px rgba(255,208,0,0.4);
}

.auth-title{
  text-align:center;
  margin-bottom:25px;
  color:#ffd000;
  font-size:32px;
}

.auth-input{
  width:100%;
  padding:15px;
  margin-bottom:15px;
  border:none;
  border-radius:10px;
  background:#1e1e1e;
  color:white;
  font-size:16px;
}

.auth-input:focus{
  outline:2px solid #ffd000;
}

.auth-btn{
  width:100%;
  padding:15px;
  background:#ffd000;
  border:none;
  border-radius:10px;
  font-size:18px;
  font-weight:bold;
  color:black;
  transition:0.3s;
}

.auth-btn:hover{
  background:#ffea70;
  transform:scale(1.03);
}

.auth-link{
  text-align:center;
  margin-top:20px;
}

.auth-link a{
  color:#ffd000;
}