.dashboard{
  display:flex;
  min-height:100vh;
  background:#0b0b0b;
  color:white;
}

.sidebar{
  width:260px;
  background:#121212;
  border-right:2px solid #ffd000;
  padding:30px;
}

.sidebar h2{
  color:#ffd000;
  margin-bottom:40px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  padding:15px;
  margin-bottom:10px;
  background:#1e1e1e;
  border-radius:10px;
  transition:0.3s;
}

.sidebar li:hover{
  background:#ffd000;
  color:black;
}

.main-content{
  flex:1;
  padding:40px;
}

.topbar{
  margin-bottom:40px;
}

.topbar h1{
  color:#ffd000;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card{
  background:#151515;
  padding:30px;
  border-radius:20px;
  border:1px solid #333;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-8px);
  border-color:#ffd000;
}

.card h3{
  margin-bottom:15px;
  color:#ffd000;
}

.card p{
  font-size:30px;
  font-weight:bold;
}